<h1>Bookmarks </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <% link.tags.each do |a| %>
        <%= a.tag %>
      <% end %>
    </li>
  <% end %>
</ul>
