<h1> Add your new link! </h1>
<form action="/links" method="post">
  <label for="title">
    Website name
    <input type="text" name="title" autofocus>
  </label>
  <label for="url">
    Website URL
    <input type="text" name="url">
  </label>
  <input type="submit" value="Submit">
</form>
