<html>
  <body>
    <h1> New Link </h1>

    <form action= '/links' method= 'POST'>
      <label for= 'name'>
        Title
      <input type='text' name='name'/>
      </label>
      <label for= 'url'>
        URL
      <input type='text' name='url'/>
      </label>
      <input type='submit' value='Add Link'/>
    </form>
  </body>

</html>
