<h1> Register For Bookmark Service </h1>
<form action='/sign-up' method='POST'>
  <label>
    Email
  <input type='text' name='email'>
  </label>
  <label>
    Password
  <input type='text' name='password'>
  </label>
  <label>
    <input type='text' name='password_confirm'/>
  </label>
  <input type='submit' value='Register'>
</form>

<% if flash[:error] %> <%= flash[:error]%> <%end%>
